* {
    box-sizing: border-box;
    font-family: Calibri, sans-serif;
}

body {
    background-color: #c0d6b0;
    margin: 0;
    padding: 0;
}

/* Student 1 code below */

/* Student 2 code below */

/* Student 3 code below */

/* Student 4 code below */

/* Student 5 code below */

/* Student 6 code below */

/* Student 7 code below */

/* Student 8 code below */
